.container form{
	width: 50%;
	margin: 0 auto;
}

.container form button{
	width: 100%;
}

/*
 * dialogs
 */

#d-success, #d-error{
	display: none;
}

/*
 * table
 */
 #comments-container{
 	display: none;
 	width: 90%;
 	margin: 0 auto;
 	margin-top: 5%;
 }
 #comments-container h3{text-align: center;padding-bottom: 2%;}